.description__info {
  color: #ffffff;
  font-size: 1.5rem;
}

.description__name {
  flex-grow: 2;
  padding: 5px;
}

.description__bird-name {
  font-size:2rem;
  color: #ffffff;
  @include media-mobile {
    text-align: center;
  }
}

.description__image {
  img {
    width: 150px;
    border-radius: 10px;
  }
}

.description__info, .description__audio-player {
  margin: 15px 0 0 0;
}